init.author.name = Georgi Kosharov
init.author.email = g.kosharov@tinqin.com
init.author.url = http://blog.gkosharov.com
# an email is required to publish npm packages
email=g.kosharov@tinqin.comnpm
_auth=bnBtOm5wbQ==